.cmb2-postbox {
	.cmb-row {
		&.cmb-type-textarea-small,
		&.cmb-type-text-email,
		&.cmb-type-text-url,
		&.cmb-type-text,
		&.cmb-type-taxonomy-select,
		&.cmb-type-select {
			label {
				font-weight: 600;
			}

			textarea,
			input,
			select {
				width: 75%;
			}
		}

		& + .cmb-row {
			margin-top: 10px;
		}
	}

	.cmb-type-taxonomy-multicheck-inline {
		.cmb-th label {
			font-weight: 600;
		}

		li {
			display: inline;
			& + li {
				margin-left: 10px;
			}
		}
	}
}
