@import 'parts/card';

.cmb2-postbox {
	.cmb-row {
		&.cmb-type-wysiwyg,
		&.cmb-type-textarea-small,
		&.cmb-type-text-email,
		&.cmb-type-text-url,
		&.cmb-type-text,
		&.cmb-type-taxonomy-select,
		&.cmb-type-select {
			label {
				font-weight: 600;
			}

			textarea,
			input,
			select {
				width: 75%;
			}
		}

		& + .cmb-row {
			margin-top: 10px;
		}
	}

	.cmb-type-taxonomy-multicheck-inline {
		.cmb-th label {
			font-weight: 600;
		}

		ul {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			width: 80%;
		}

		li {
			text-indent: -1.7em;
			margin-left: 2em;
		}
	}
}

.govpack-banner {
	height: 56px;
	width: calc( 100% + 20px );
	background-color: #5a17b2;
	margin-left: -20px;
	padding-left: 20px;

	.logo {
		background-repeat: no-repeat;
		height: 32px;
		position: absolute;
		top: 12px;
		width: 111px;
	}
}
