/*
 * Profile card/block.
 */
.govpack-profile {
  width: 250px;
  display: grid;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.govpack-profile.mini {
  width: 150px;
}

.govpack-profile.mini .photo,
.govpack-profile.mini .name {
  margin-bottom: 10px;
}

.govpack-profile.mini .last-name {
  display: none;
}

.govpack-profile.wiki {
  width: 550px;
}

.govpack-profile.wiki .name-details {
  grid-column: 2;
  grid-row: 1 / 3;
}

.govpack-profile .name,
.govpack-profile .photo {
  margin-bottom: 0;
  margin-top: 0;
}

.govpack-profile .name {
  font-size: 20px;
}

.govpack-profile .info,
.govpack-profile .biography {
  font-size: 14px;
  margin: 0;
}

.govpack-profile .links {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.govpack-profile .links a {
  text-decoration: none;
}

.govpack-profile .biography {
  margin-top: 1em;
}

.govpack-profile.wiki .links, .govpack-profile.mini .links {
  flex-direction: column;
}

.govpack-profile.wiki .links p, .govpack-profile.mini .links p {
  margin: 2px;
}

.govpack-profile.wiki .links a, .govpack-profile.mini .links a {
  display: flex;
}

.govpack-profile.wiki .links a .label, .govpack-profile.mini .links a .label {
  margin-left: 10px;
}

.govpack-profile.wiki .links img, .govpack-profile.mini .links img {
  width: 20px;
  height: 20px;
}

.cmb2-postbox .cmb-row.cmb-type-wysiwyg label, .cmb2-postbox .cmb-row.cmb-type-textarea-small label, .cmb2-postbox .cmb-row.cmb-type-text-email label, .cmb2-postbox .cmb-row.cmb-type-text-url label, .cmb2-postbox .cmb-row.cmb-type-text label, .cmb2-postbox .cmb-row.cmb-type-taxonomy-select label, .cmb2-postbox .cmb-row.cmb-type-select label {
  font-weight: 600;
}

.cmb2-postbox .cmb-row.cmb-type-wysiwyg textarea,
.cmb2-postbox .cmb-row.cmb-type-wysiwyg input,
.cmb2-postbox .cmb-row.cmb-type-wysiwyg select, .cmb2-postbox .cmb-row.cmb-type-textarea-small textarea,
.cmb2-postbox .cmb-row.cmb-type-textarea-small input,
.cmb2-postbox .cmb-row.cmb-type-textarea-small select, .cmb2-postbox .cmb-row.cmb-type-text-email textarea,
.cmb2-postbox .cmb-row.cmb-type-text-email input,
.cmb2-postbox .cmb-row.cmb-type-text-email select, .cmb2-postbox .cmb-row.cmb-type-text-url textarea,
.cmb2-postbox .cmb-row.cmb-type-text-url input,
.cmb2-postbox .cmb-row.cmb-type-text-url select, .cmb2-postbox .cmb-row.cmb-type-text textarea,
.cmb2-postbox .cmb-row.cmb-type-text input,
.cmb2-postbox .cmb-row.cmb-type-text select, .cmb2-postbox .cmb-row.cmb-type-taxonomy-select textarea,
.cmb2-postbox .cmb-row.cmb-type-taxonomy-select input,
.cmb2-postbox .cmb-row.cmb-type-taxonomy-select select, .cmb2-postbox .cmb-row.cmb-type-select textarea,
.cmb2-postbox .cmb-row.cmb-type-select input,
.cmb2-postbox .cmb-row.cmb-type-select select {
  width: 75%;
}

.cmb2-postbox .cmb-row.cmb-type-wysiwyg input[type='button'] {
  width: inherit;
}

.cmb2-postbox .cmb-row + .cmb-row {
  margin-top: 10px;
}

.cmb2-postbox .cmb-type-taxonomy-multicheck-inline .cmb-th label {
  font-weight: 600;
}

.cmb2-postbox .cmb-type-taxonomy-multicheck-inline ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
}

.cmb2-postbox .cmb-type-taxonomy-multicheck-inline li {
  text-indent: -1.7em;
  margin-left: 2em;
}

.govpack-banner {
  height: 56px;
  width: calc( 100% + 20px);
  background-color: #5a17b2;
  margin-left: -20px;
  padding-left: 20px;
}

.govpack-banner .logo {
  background-image: url("data:image/svg+xml,%3csvg width='792' height='275' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M177.817 139.76c0 13.854 8.976 23.415 22.245 23.415s22.245-9.561 22.245-23.415-8.976-23.415-22.245-23.415-22.245 9.561-22.245 23.415zM389.785 163.175c-13.269 0-22.244-9.561-22.244-23.415s8.975-23.415 22.244-23.415 22.245 9.561 22.245 23.415-8.976 23.415-22.245 23.415zM497.184 163.175c-13.269 0-22.245-9.561-22.245-23.415s8.976-23.415 22.245-23.415 22.244 9.561 22.244 23.415-8.975 23.415-22.244 23.415zM81.276 106.711c.046-.968 1.303-1.311 1.834-.501l13.048 19.878a1 1 0 001.1.416l22.937-6.267c.934-.255 1.65.834 1.044 1.59l-14.873 18.552a1 1 0 00-.056 1.174l13.048 19.878c.531.81-.284 1.827-1.19 1.484l-22.24-8.412a1 1 0 00-1.134.31l-14.873 18.552c-.606.756-1.825.294-1.78-.673l1.129-23.751a1 1 0 00-.645-.983l-22.24-8.412c-.906-.343-.844-1.645.09-1.9l22.937-6.267a1 1 0 00.735-.917l1.129-23.751z' fill='white'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.998 36.29C4.481 36.55.22 41.233.48 46.75l10.292 218.707c.26 5.517 4.942 9.778 10.459 9.519l761.19-35.821c5.517-.259 9.779-4.942 9.519-10.459L781.647 9.989C781.388 4.472 776.705.21 771.188.47L9.998 36.29zm678.115 151.667h-29.269V49.415h29.269v82.735l30.635-40.587h36.294l-39.221 47.221 40.782 49.173h-37.074l-31.416-41.563v41.563zM251.966 139.76c0 29.269-21.464 50.733-51.904 50.733-30.44 0-51.904-21.464-51.904-50.733s21.464-50.733 51.904-50.733c30.44 0 51.904 21.464 51.904 50.733zm25.337 48.197h35.513l34.538-96.394h-30.635l-21.27 68.49-21.269-68.49h-31.415l34.538 96.394zm60.968 41.172h29.27V177.42c6.048 8.586 15.805 13.073 27.317 13.073 21.855 0 46.831-16 46.831-49.562 0-31.026-21.464-51.905-52.099-51.905-29.464 0-51.319 19.318-51.319 51.71v88.393zm153.644-38.636c13.855 0 24.782-6.634 29.855-18.537v16.001h26.928v-47.221c0-31.611-21.074-51.71-51.319-51.71-30.635 0-52.099 20.879-52.099 51.905 0 33.562 25.171 49.562 46.635 49.562zm112.277 0c26.733 0 46.246-16.585 50.343-40.391h-29.659c-3.317 8-10.927 13.073-20.684 13.073-13.269 0-22.245-9.561-22.245-23.415s8.976-23.415 22.245-23.415c9.757 0 17.367 5.073 20.684 13.073h29.659c-4.097-23.806-23.61-40.392-50.343-40.392-30.44 0-51.904 21.465-51.904 50.734 0 29.269 21.464 50.733 51.904 50.733zM91.69 232.878c28.117 0 51.515-14.353 51.515-51.515V91.646h-24.63v4.036c-7.728-4.246-16.97-6.534-27.278-6.534-30.673 0-52.301 21.629-52.301 51.122 0 35.981 25.954 49.548 46.599 49.548 12.19 0 22.021-4.522 28.117-13.173v5.701c0 18.876-7.865 24.971-22.219 24.971-9.83 0-16.909-2.949-19.858-9.044H41.749c5.898 23.791 25.167 34.605 49.941 34.605z' fill='white'/%3e%3c/svg%3e");
  background-size: contain;
  background-repeat: no-repeat;
  height: 32px;
  position: absolute;
  top: 12px;
  width: 111px;
}