.cmb2-postbox .cmb-row.cmb-type-wysiwyg label, .cmb2-postbox .cmb-row.cmb-type-textarea-small label, .cmb2-postbox .cmb-row.cmb-type-text-email label, .cmb2-postbox .cmb-row.cmb-type-text-url label, .cmb2-postbox .cmb-row.cmb-type-text label, .cmb2-postbox .cmb-row.cmb-type-taxonomy-select label, .cmb2-postbox .cmb-row.cmb-type-select label {
  font-weight: 600;
}

.cmb2-postbox .cmb-row.cmb-type-wysiwyg textarea,
.cmb2-postbox .cmb-row.cmb-type-wysiwyg input,
.cmb2-postbox .cmb-row.cmb-type-wysiwyg select, .cmb2-postbox .cmb-row.cmb-type-textarea-small textarea,
.cmb2-postbox .cmb-row.cmb-type-textarea-small input,
.cmb2-postbox .cmb-row.cmb-type-textarea-small select, .cmb2-postbox .cmb-row.cmb-type-text-email textarea,
.cmb2-postbox .cmb-row.cmb-type-text-email input,
.cmb2-postbox .cmb-row.cmb-type-text-email select, .cmb2-postbox .cmb-row.cmb-type-text-url textarea,
.cmb2-postbox .cmb-row.cmb-type-text-url input,
.cmb2-postbox .cmb-row.cmb-type-text-url select, .cmb2-postbox .cmb-row.cmb-type-text textarea,
.cmb2-postbox .cmb-row.cmb-type-text input,
.cmb2-postbox .cmb-row.cmb-type-text select, .cmb2-postbox .cmb-row.cmb-type-taxonomy-select textarea,
.cmb2-postbox .cmb-row.cmb-type-taxonomy-select input,
.cmb2-postbox .cmb-row.cmb-type-taxonomy-select select, .cmb2-postbox .cmb-row.cmb-type-select textarea,
.cmb2-postbox .cmb-row.cmb-type-select input,
.cmb2-postbox .cmb-row.cmb-type-select select {
  width: 75%;
}

.cmb2-postbox .cmb-row + .cmb-row {
  margin-top: 10px;
}

.cmb2-postbox .cmb-type-taxonomy-multicheck-inline .cmb-th label {
  font-weight: 600;
}

.cmb2-postbox .cmb-type-taxonomy-multicheck-inline ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
}

.cmb2-postbox .cmb-type-taxonomy-multicheck-inline li {
  text-indent: -1.7em;
  margin-left: 2em;
}

.govpack-banner {
  height: 56px;
  width: calc( 100% + 20px);
  background-color: #5a17b2;
  margin-left: -20px;
  padding-left: 20px;
}

.govpack-banner .logo {
  background-repeat: no-repeat;
  height: 32px;
  position: absolute;
  top: 12px;
  width: 111px;
}