.wp-block-govpack-profile {
    &__avatar {
        figure {
            margin: 0;
            overflow:hidden;

            img{
                display:block;
                width:100%;
            }
        }
    }
}